/.vs/
/.vscode/
/.idea/
/Binaries/
/Build/
/Content/Developers/
/Saved/
/Intermediate/
/DerivedDataCache/
/*.sln
/.vsconfig
/Plugins/*/Binaries/
/Plugins/*/Intermediate/
/*.xcworkspace/
*.a
*.dll
*.dylib
*.lib
*.obj
*.pdb
*.so
.DS_Store
