/.vs/
/.vscode/
/.idea/
/Binaries/
/Build/
/Content/Developers/
/Saved/
/Intermediate/
/DerivedDataCache/
/*.sln
/.vsconfig
/Plugins/*/Binaries/
/Plugins/*/Intermediate/
/Plugins/VRM4U/**/*.a
/Plugins/VRM4U/**/*.dll
/Plugins/VRM4U/**/*.dylib
/Plugins/VRM4U/**/*.lib
/Plugins/VRM4U/**/*.obj
/Plugins/VRM4U/**/*.pdb
/Plugins/VRM4U/**/*.so
/*.xcworkspace/
.DS_Store
