* -text
*.cs text eol=crlf
*.c text eol=crlf
*.cpp text eol=crlf
*.h text eol=crlf
*.ini text eol=crlf
*.ps1 text eol=lf
*.uproject text eol=crlf
*.usf text eol=crlf
.* text eol=lf

/Plugins/** -text
